<?xml version="1.0"?>
<ruleset name="Aurora">
    <description>Dead tool</description>

    <rule ref="PSR1.Classes.ClassDeclaration.MissingNamespace">
        <!-- TODO: app must be provided with a namespace in the future -->
        <exclude-pattern>.*</exclude-pattern>
    </rule>
    <rule ref="Generic.Files.OneClassPerFile.MultipleFound">
        <!-- Special test where there are multiple classes in a file -->
        <exclude-pattern>tests/fixtures/ClassC.php</exclude-pattern>
    </rule>
    <rule ref="Squiz.Classes.ClassFileName.NoMatch">
        <!-- Special test where there are multiple classes in a file -->
        <exclude-pattern>tests/fixtures/ClassC.php</exclude-pattern>
    </rule>
    <rule ref="PEAR.Files.IncludingFile.UseIncludeOnce">
        <!-- require_once is intended behavior -->
        <exclude-pattern>src/loader.php</exclude-pattern>
    </rule>

    <!--Legacy code I don't want to mess with-->
    <rule ref="SlevomatCodingStandard.Classes.UnusedPrivateElements.UnusedMethod">
        <exclude-pattern>src/visitor/SubversionVisitor.php</exclude-pattern>
    </rule>

    <!--Excluded because it is very old code by a third party-->
    <exclude-pattern>src/common/yml/</exclude-pattern>
    <!--These files are only used in unit tests-->
    <exclude-pattern>tests/fixtures</exclude-pattern>

    <rule ref="Hostnet"/>
</ruleset>
